<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="prim.test.NodeNetFactoryTest"/>
      <class name="prim.test.NodeNetworkTest"/>
      <class name="prim.test.PathTest"/>
      <class name="prim.test.PrimTest"/>
      <class name="prim.test.NodeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
